@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 !important;

}

#root{
  padding: 0 !important;
}

body {
  background-color: #f3f4f6;
  padding: 0 !important;
  }

* {
  box-sizing: border-box;
} 